
body, html{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;

}

.flaxible_section{
    display: flex;
    height: 100vh;
    width: 100%;
}

.hero_section{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
}
h3{
    font-size: 22px;
}
p{
    font-size: 20px;
    font-family: sans-serif;
}


.left_section{
    width: 50%;
}

.left_section .left_continer{
    margin-top: 100px;
    margin-left: 100px;
}

.left_section span{
    color: rgb(255, 85, 0);
    margin-right: 10px;
    font-weight: 1000px;
}

.left_section p{
    margin-right: 100px;



}

.link_btn{
    text-decoration: none;
    /* background-color: orange; */
    background-image: linear-gradient(90deg,#FA3052, #FFA72E);
    padding: 15px 30px;
    border-radius: 5px;
    color: whitesmoke;
    margin-top: 300px;
    font-weight: bolder;
    font-size: 18px;
    line-height: 100px;
}

.right_section{
    width: 50%;
}

.right_section img{
    width: 90%;
    float: right;
}

/* hero section end */

/* dream section start */


.dream_section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.dream_left{
    width: 50%;
    float: left;
}

.dream_left img{
    width: 90%;
    margin-top: 30px;
    margin-left: 100px;
}

.dream_right{
    width: 50%;
}

.dream_right .dream_continer{
    width: 80%;
    margin-top: 15%;
    margin-left: 20%;

}
.dream_continer p{
    margin-right: 100px;
}

/* dream section end */

/* experiences section start */

.experi_section{
    height: 100vh;
    width: 100%;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experi_latter{
    padding: 20px 0;


}

.experi_main_contain{
    display: flex;
    justify-content: center;
    width: 100%;

}

.contain{
    margin: 0 50px;
    box-shadow:  5px 5px 30px rgb(108, 108, 108);
    padding: 40px;
    width: 50%;
    border-radius: 10px;

}


.contain .full_stack, .baby_web{
    font-size: 45px;
}

.contain h3{
    color: orange;
}

.experi_main_contain .experi_left{
    border-left: 10px solid red;

}

.experi_main_contain .experi_right{
    border-left: 10px solid blue;

}

footer{
    text-align: center;
    font-size: 16px;
}